.chord-table {
    width: 100%;
    box-sizing: border-box;

    display: grid;
    row-gap: 0.25rem;
    grid-template-columns: repeat(11, 1fr);
}

.chord-table__column {
    display: flex;
    flex-direction: column;
    gap:L 0.25rem;
}

.chord-button-container {
    position: relative;
}

.chord-button {
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 6px;
    padding: 0.25rem;
    height: 70px;
    width: 70px;
}

.chord-button__add-to-sequence {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    display: none;
    cursor: pointer;
    margin: 2px;
    padding: 2px;
    border-radius: 8px;
}

.chord-button-container:hover .chord-button__add-to-sequence {
    display: block;
}

.chord-button.active {
    background-color: #F88;
}

.chord-button::first-letter {
    text-transform: uppercase;
}

.break {
    grid-column: 1 / -1;
    height: 1rem;
}
