.piano {
    display: flex;
    gap: 0.125rem;
}

.keyPair {
    position: relative;
}

.whiteKey {
    background-color: #eee;
    border: none;
    width: 2rem;
    height: 8rem;
}

.blackKey {
    background-color: #111;
    border: 1px solid #111;
    width: 1rem;
    height: 5rem;
    position: absolute;
    top: 0;
    right: -26%;
    z-index: 1;
}

.highlighted  {
    background-color: yellow;
}

.highlighted.tonic {
    background-color: red;
}
